
section:nth-of-type(5){
    padding: 10px;
}

section:nth-of-type(5)>div:nth-child(1){
    color: transparent;
    font-size: 43px;
    font-family: sans-serif;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.4)
    );
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 30px;
}

#project_list1{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#div1 {
    margin-top: 25px;
    border-radius: 50px;
    width: 370px;
    height: 450px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 3px 6px, rgba(255, 255, 255, 0.16) 0px 3px 6px;

}

#div1>div{
    margin-top: 20px;
    text-align: center;
    color: transparent;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.73),
            rgba(200, 99, 16, 0.6)
    );
    -webkit-background-clip: text;
    font-size: 28px;
}

#div1>p{
    color: gray;
    padding: 20px;
}


#img1{
     padding:0  80px;
     height: 180px;
    width: 180px;
    opacity: 60%;
}


#div2{
    margin-top: 25px;
    border-radius: 50px;
    width: 370px;
    height: 450px;

    box-shadow: rgba(255, 255, 255, 0.15) 0px 3px 6px, rgba(255, 255, 255, 0.16) 0px 3px 6px;

}
#div2>div{
    margin-top: 20px;
    text-align: center;
    color: transparent;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.73),
            rgba(200, 99, 16, 0.6)
    );
    -webkit-background-clip: text;
    font-size: 28px;
}

#div2>p{
    padding: 20px;
    color: gray;
}

#div1>p>a{
    color: rgba(200, 99, 16, 0.6);
}


#div2>p>a{
    color: rgba(200, 99, 16, 0.6);
}



#img2{

    height: 180px;
    width: 180px;
    padding:0 80px;
    opacity: 60%;
}


@media  (max-width: 1024px) {
    #div1 {
        margin-top: 25px;
        border-radius: 50px;
        width: 364px;
        height: 444px;
        box-shadow: rgba(255, 255, 255, 0.15) 0px 3px 6px, rgba(255, 255, 255, 0.16) 0px 3px 6px;

    }
    #div2{
        margin-top: 25px;
        border-radius: 50px;
        width: 364px;
        height: 444px;

        box-shadow: rgba(255, 255, 255, 0.15) 0px 3px 6px, rgba(255, 255, 255, 0.16) 0px 3px 6px;

    }
}

@media  (max-width: 768px) {


    #project_list1{
        gap: 10px;
    }
    #div1 {
        width: 341px;


    }
    #div2{
       width: 341px;
    }
}


@media (max-width: 375px) {



    section:nth-of-type(5)>div:nth-child(1){

        font-size: 38px;
    }

    #div1 {
        width: 341px;
        height: 390px;
    }

    #div1>div{

        font-size: 25px;
    }

    #div1>p{

        padding: 10px;
        font-size: 12px;
    }


    #img1{

        height: 176px;
        width: 176px;
    }


    #div2{
        width: 341px;
        height: 390px;

    }
    #div2>div{
        font-size: 25px;
    }

    #div2>p{
        padding: 10px;
        color: gray;
        font-size: 12px;
    }


    #img2{

        height: 176px;
        width: 176px;
    }


}









