
section:nth-of-type(5){
    padding: 10px;
}

section:nth-of-type(5)>div:nth-child(1){
    color: transparent;
    font-size: 43px;
    font-family: sans-serif;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.4)
    );
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 30px;
}

#project_list1{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#div1 {
    margin-top: 25px;
    border-radius: 50px;
    width: 370px;
    height: 450px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 3px 6px, rgba(255, 255, 255, 0.16) 0px 3px 6px;

}

#div1>div{
    margin-top: 20px;
    text-align: center;
    color: transparent;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.73),
            rgba(200, 99, 16, 0.6)
    );
    -webkit-background-clip: text;
    font-size: 28px;
}

#div1>p{
    color: gray;
    padding: 20px;
}


#img1{
     padding:0  80px;
     height: 180px;
    width: 180px;
    opacity: 60%;
}


#div2{
    margin-top: 25px;
    border-radius: 50px;
    width: 370px;
    height: 450px;

    box-shadow: rgba(255, 255, 255, 0.15) 0px 3px 6px, rgba(255, 255, 255, 0.16) 0px 3px 6px;

}
#div2>div{
    margin-top: 20px;
    text-align: center;
    color: transparent;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.73),
            rgba(200, 99, 16, 0.6)
    );
    -webkit-background-clip: text;
    font-size: 28px;
}

#div2>p{
    padding: 20px;
    color: gray;
}

#div1>p>a{
    color: rgba(200, 99, 16, 0.6);
}


#div2>p>a{
    color: rgba(200, 99, 16, 0.6);
}



#img2{

    height: 180px;
    width: 180px;
    padding:0 80px;
    opacity: 60%;
}





/*
#project_list{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


section:nth-of-type(5)>div:nth-child(2)>div{
    width: 300px;
    height: 500px;

}

section:nth-of-type(5)>div:nth-child(2)>div>div>img{
       width: 300px;
    height: 300px;
}

section:nth-of-type(5)>div:nth-child(2)>div>p{
 color: rgba(255, 255, 255, 0.7);
}

section:nth-of-type(5)>div:nth-child(2)>div>div{
    color: #f39f5a;
    font-size: 15px;
}



section:nth-of-type(5)>div:nth-child(2)>div>div {
    position: relative;
}

section:nth-of-type(5)>div:nth-child(2)>div>div>img {
    width: 300px;
    height: 300px;
    position: relative;
}


section:nth-of-type(5)>div:nth-child(2)>div>div:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(18, 9, 9, 0.66);
    z-index: 1;
    border-radius: 25px;
    animation: myprojectanimation 0.6s forwards;
}


section:nth-of-type(5)>div:nth-child(2)>div>div:hover::before {
    content: 'gitHub';
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: transparent;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.4)
    );
    -webkit-background-clip: text;
    font-size: 28px;
    opacity: 0;
    z-index: 2;
    animation: textFadeIn 0.6s forwards;
}


@keyframes myprojectanimation {
    from {
        height: 0;
    }
    to {
        height: 320px;
    }
}


@keyframes textFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*/


