
section:nth-of-type(3){
    padding: 10px;

}

section:nth-of-type(3)>div:nth-child(1){
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

section:nth-of-type(3)>div:nth-child(1)>div:nth-of-type(1){
    color: transparent;
    font-size: 43px;
    font-family: sans-serif;
    background: linear-gradient(
            to bottom right,
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.4)
    );
    -webkit-background-clip: text;
}

section:nth-of-type(3)>div:nth-child(1)>div:nth-of-type(2){
    color: rgba(255, 255, 255, 0.47);
    font-size: 15px;
    font-family: sans-serif;
}

section:nth-of-type(3)>div:nth-child(2){
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

section:nth-of-type(3)>div:nth-child(2)>div{
    max-width: 350px;
    height: 350px;

    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
  margin-top: 30px;
    background-color: #000000;

}

section:nth-of-type(3)>div:nth-child(2)>div>div:nth-child(1)>img{
   width: 50px;
    height: 50px;
}

section:nth-of-type(3)>div:nth-child(2)>div>h2{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

section:nth-of-type(3)>div:nth-child(2)>div>div{
   padding: 0 20px;
}


section:nth-of-type(3)>div:nth-child(2)>div>div>p{
    font-size: 19px;
  /* text-align: center;*/
    margin-bottom: 0;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.7);
}

section:nth-of-type(3)>div:nth-child(2)>div>div:nth-child(4){
    text-align:center;
    margin-top: 40px;
    font-size: 15px;
    color: #f39f5a;
}

section:nth-of-type(3)>div:nth-child(2)>div:hover {
    max-width: 350px;
    height: 350px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
    background-color: rgb(18, 9, 9);
    animation: shadow-drop-2-center .4s cubic-bezier(.25,.46,.45,.94) both;
}


@keyframes shadow-drop-2-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1);
    }
    100% {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
}


@media (max-width: 1024px) {
    section:nth-of-type(3)>div:nth-child(2)>div{
        max-width: 335px;
        height: 332px;

        padding: 20px;
        text-align: center;
        border-radius: 20px;
        color: white;
        margin-top: 30px;
        background-color: #000000;

    }

}

@media (max-width: 375px) {
    section:nth-of-type(3)>div:nth-child(1)>div:nth-of-type(1) {

        font-size: 38px;
    }

    section:nth-of-type(3)>div:nth-child(2)>div{
        max-width: 288px;
        height: 319px;

    }
    section:nth-of-type(3)>div:nth-child(2)>div>div:nth-child(1)>img{
        width: 45px;
        height: 45px;
    }

    section:nth-of-type(3)>div:nth-child(2)>div>h2{
        font-size: 25px;

    }



    section:nth-of-type(3)>div:nth-child(2)>div>div>p{
        font-size: 16px;
    }



}





